/* Page specifics */
body, html {
    height: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-family: "azo-sans-web",sans-serif;
}

 /* Green bar at top of webpage */
.style-bar {
  width: 100%;
  height: 7px;
  background: #6ac68f;
}

.website-logo {
  width: 10em;
}

/* Navbar specific styling */
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  padding-top: 7px;
  overflow: hidden;
}

li {
  color: white;
  font-family: "bungee", sans-serif;
  display: inline;
}

.navbar-item {
  text-decoration: none;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-item:hover {
  text-decoration: none;
  color: black;
  background: #649cb4;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  max-height: 75px;
  border-bottom: 2px solid black;
  z-index: 9;
}

.navbar-nav {
  padding-top: 10px;
  width: 100%;
  overflow: hidden;
  background: white;
}

.navbar-left {
  padding-left: 2em;
  width: 12em;
  float: left;
}

.navbar-right {
  margin-left: 14em;
}

.main {
  margin-top: 75px;
}

.menu {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.hero-image {
  margin-top: 72px;
  background-image: url("../images/websitebackground.png");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.logo-image {
  text-align: center;
  padding-top: 7%;
}

.welcome {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer {
  margin-top: 20px;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}
