html, body {
  min-height: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: "azo-sans-web",sans-serif;
  background-color: #f1f1f1;
}

a {
  text-decoration: none;
  color: black;
}

.test {
  border-color: red;
  border-width: 3px;
  border-style: solid;
}

.google-ads {
  margin-top: 150px;
  height: 150px;
  margin: 0 auto;
}

.page-content {
  text-align: center;
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  padding-bottom: 0;
  padding-top: 5%;
}

.inner-content {
  width: 90%;
  max-width: 880px;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 50px;
}

div.overlay {
  padding-left: 15px;
  padding-right: 15px;
  position: fixed;
  right: 0;
  bottom: 0;
  width: auto;
  max-width: 485px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 1em;
  border-radius: 5px;
  z-index: 9;
}

div.beta {
  width: 95%;
  padding-top: 15px;
  display: inline;
  float: left;
}

p.x {
  width: 5%;
  display: inline;
  float: right;
}

.x {
  text-align: right;
}

div.overlayHidden p {
  display: none;
}

p.beta {
  padding-right: 15px;
}

a.beta {
  text-decoration: underline;
}

a.beta:hover {
  color: blue;
}

.overlayHidden div.beta {
  display: none;
}


/* Green bar at top of webpage */
  .style-bar {
   width: 100%;
   height: 7px;
   background: #6ac68f;
  }

/* navbar style - mobile */
  .mobile-link {
    text-decoration: none;
    color: black;
    padding-left: 10%;
    padding-right: 10px;
    font-family: "bungee", sans-serif;
  }

  .mobile-link:hover {
    text-decoration: none;
    color: black;
    background: #649cb4;
  }

/* navbar style - desktop */
  ul.navbar {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    padding-top: 7px;
    overflow: hidden;
  }

  li.navbar {
    color: white;
    font-family: "bungee", sans-serif;
    display: inline;
  }

  div.navbar {
    background: white;
    height: 80px;
    border-bottom: 2px solid black;
  }

  .navbar-logo {
    padding-left: 10px;
    padding-top: 10px;
  }

  .navbar-item {
    text-decoration: none;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
  }

  .navbar-toggle {
    text-decoration: none;
    color: black;
  }

  .link {
    display: none;
  }

/* navbar responsive design */
  @media screen and (min-width : 621px) {
    .navbar-toggle {
      display: none;
    }
  }

  @media screen and (max-width : 620px) {
    .navbar-item {
      display: none;
    }
    .navbar-toggle {
      float: right;
      padding-right: 20px;
    }
    .link {
      display: none;
    }
    .link-toggled {
      background: white;
      display: block;
      border-bottom: 2px solid black;
    }
  }

/* navbar mouse interaction */
  .navbar-item:hover {
    text-decoration: none;
    color: black;
    background: #649cb4;
  }

/* navbar */
.home-nav {
  text-align: center;
  font-family: "bungee", sans-serif;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.home-title {
  font-size: 5em;
  text-align: center;

  margin: 0 auto;
}

.home-nav p {
    font-size: 5em;
}

ul.home-nav-links {
  list-style-type: none;

  text-align: center;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

    padding-top: -50px;
}

li.home-nav-links {
  color: white;
  font-family: "bungee", sans-serif;
  display: inline;
}

li.home-nav-spacer {
  padding-left: 10px;
  padding-right: 10px;
}

a.home-nav-links {
  color: white;
  font-family: "bungee", sans-serif;
}

/* Cover Image and Logo */
.hero-image {
  top: 0;
  background-image: url("../assets/heatsink.JPG");
  z-index: 0;
  height: 125%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-image {
  max-width: 45%;
  height: auto;
  width: auto/9;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10%;
}

/* website sections */
.span-grey {
  height: 100%;
  background-color: #d3d3d3;
}

.home-content {
  padding-top: 125px;
  padding-bottom: 200px;
  max-width: 1100px;
  margin: 0 auto;
  height: 100%;
}

/* recent blog posts */
.blog-content-home {
  max-width: 1100px;
  margin: 0 auto;
  height: 50%;
}

.blog-title-home {
  text-decoration: none;
  font-style: normal;
  color: black;
}

p.continue {
  text-align: center;
  font-style: normal;
}

@media screen and (min-width: 1024px) {
  div.recent-post {
    padding-left: 5%;
    padding-right: 5%;
    width: 59%;
    display: inline;
    float: left;
  }

  div.recent-post div {
    padding-left: 15px;
  }

  div.all-posts {
    font-size: 0.9em;
    margin-top: 7%;
    width: 30%;
    display: inline;
    float: right;
  }

  h3.all-posts {
    margin-left: 20px;
  }
}

@media screen and (max-width: 1023px) {
  div.recent-post {
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    max-width: 960px;
  }

  div.recent-post div {
    padding-left: 15px;
  }

  div.all-posts {
    display: none;
  }
}

hr.home-page {
  max-width: 1100px
}

.social-span {
  margin-top: 50px;
  height: 115px;
  bottom: 0;
  padding-left: 20%;
  padding-right: 20%;
  background-color: #649cb4;
  color: white;
  z-index: 1;
}

@media screen and (min-width: 1024px) {
  .social-span {
      margin-top: auto;
  }
}

.social-container {
  text-align: center;
  width: 96%;
  max-width: 960px;
  margin: 0 auto;
}

.social-container a{
  text-decoration: none;
  color: white;
}

i {
  padding-top: 25px;
  width: 30%;
  display: inline-block;
}

.footer {
  margin-top: -2%;
  height: 30px;
  background: #333;
  padding-bottom: 5px;
  font-family: "bungee", sans-serif;
  color: #cccccc;
  font-size: 1em;
  text-align: center;
}

div.footer p {
  color: #cccccc;
  background: #333;
}

div.footer a {
  color: #cccccc;
  background: #333;
}


.blog-content {
  padding-top: 125px;
  padding-bottom: 200px;

  max-width: 1100px;
  width: auto;
  
  margin: 0 auto;

  text-align: center;
}

.blog-title {
  text-align: left;
}

.blog-date {
  text-align: left;
  font-size: 0.75em;
  padding-left: 5%;
  margin-top: -1em;
}

.blog-post {
  width: 75%;
  text-align: left;
  padding-left: 15%;
}

a.blog-links {
  font-style: italic;
  color: #649cb4
}
a.blog-links:hover {
  font-weight: bold;
}

.pagination {
  padding-bottom: 10%;
}

div.blog-content a{
  text-decoration: italic;
}

table.comment {
  margin: auto;
  width: 50%;
  padding: 10px;
  resize: none;
}

table textarea {
  width: 100%;
  resize: none;
}

/* comment section styling */
div.numComments {
  padding-top: 5%;
}

p.noComments {
  padding-bottom: 5%;
}

div.comments {
  text-align: left;
  padding-left: 15%;
}

div.commentThread {
  padding: 25px;
}

h3.comments {
  display: inline;
}

p.commentDate {
  display: inline;
  font-size: 0.75em;
}

p.commentContent {
  padding-left: 5%;
}

div.commentReplys {
  margin-left: 5%;
  border-left: 1px solid black;
}

div.singleReply {
  padding-left: 5%;
}

p.replyContent {
  padding-left: 5%;
}

h3.postComment {
  padding-top: 5%;
}

#email-invalid {
  color: red;
}

td.commentForm {
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
}


span.blogTitle {
  display: block;
}

span.blogComments {
  display: block;
}

div.blogContentOuter {
  width: 90%;
  max-width: 880px;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 50px;
}

p.totalPosts {
  padding-top: 50px;
}

h4.archiveCount {
  display: inline;
}

h5.archiveViewActive {
  display: inline;
  padding-left: 2%;
  color: #649cb4
}

ul.archiveYear {
  list-style-type: none;
}

span.archiveDate {
  color: black;
}

span.archiveDate {
  font-weight: normal;
}

a.archiveLink {
  color: #649cb4
}

a.archiveLink:hover {
  font-weight: bold;
  color: black;
}

div.archivePosts {
  text-align: left;
}

span.commentShow {
  display: block;
  padding-left: 5%;
}


div.page-contact {
  text-align: center;
  margin: 0 auto;

  padding-top: 200px;
  padding-bottom: 200px;
}

div.contactParagraph {
  padding-bottom: 25px;
}

a.contactEmail {
  font-style: italic;
  color: #649cb4
}

a.contactEmail:hover {
  font-weight: bold;
}

div.contactForm {
  text-align: center;
  margin: 0 auto;

  width: auto;
  max-width: 960px;
}


div.project {

}

div.desc {
  width: 350px;
  margin: 0 auto;
  padding: 10px;
}


div.blogShare {x
  width: 30%;
  margin: 0 auto;
  padding-bottom: 25px;
}

div.blogShare {
  display: inline;
}

div.blogShareInner {
  width: 30%;
  margin: 0 auto;
  padding-bottom: 25px;
}

i.blogShare {
  padding: 0;
  padding-top: 25px;
  margin: 0;
}

  div.page-contents {}

